
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<section class="saleoff">
    <h2>Xác nhận đơn hàng thành công!!</h2>
    <p>Cảm ơn bạn đã ủng hộ và tin tưởng sản phẩm của chúng tôi!!</p>
    <a href="@Url.Action("GioHang","GioHang")" style="font-size:20px; text-decoration:none">

        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Tiếp tục mua hàng
    </a>
</section>


