@*@model WebSellingToy.Models.SanPham*@
@model IEnumerable<WebSellingToy.Models.SanPham>

@{
    ViewBag.Title = "MuaHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/StyleCSSFile/style.css" rel="stylesheet" />
<link href="~/StyleCSSFile/StyleAllProduce.css" rel="stylesheet"/>



<section class="newfeeds">
    <h1>Tất Cả Các Sản Phẩm</h1>
    <div class="row-grid">
        @foreach (var sanpham in Model)
        {
            <div class="grid-item">
                <a href="@Url.Action("Detail", "SellingToy", new { id = sanpham.MaSanPham })"></a>
                <img alt="@sanpham.TenSanPham" src="~/image/figure2.jpg" />
                <h1><a href="">@sanpham.TenSanPham</a></h1>
                
                <p class="giatien">@Int32.Parse(sanpham.TenSanPham) VND</p>
                <div class="layer">
                    <h3 class="buynow"><a href="#"><br>MUA NGAY <br><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></h3>
                </div>

            </div>

        }

    </div>







</section>

